
.moon {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.moon.sun {
  display: block;
}

span {
  font-family: 'Nunito', sans-serif;
}

.open-popup{
  visibility: visible;
}

.open-popup2{
  visibility: visible;
}

.open-popup3{
  visibility: visible;
}



